{% extends "base.html" %}

{% block content %}
<div class="main" style="
height: 100vh;
width: 100vw;"> 
    <div class="chart-container" style="
    text-align:center;
    position: relative;
    width: 85vw; 
    height: 100vh;
    margin: 0 auto;"
    >
        <h1>Should I go to the Tuna?</h1>
        <p>always - but here's the flow just in case</p>
        <canvas id="myChart"></canvas>
</div>
</div>
{% endblock %}

{% block scripts %}
    {{  super() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block app_scripts %}
        <script type="text/javascript" src="static/line_chart.js"></script>           
    {% endblock %}
    
{% endblock %}
